<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>マイページ</title>

</head>
<body>

    <h1>ユーザー情報</h1>

    <ul>
        <li>ID: {{ teacher.user_id.id  }}</li>
        <li>Email:  {{ teacher.user_id.email }}</li>
        <li>名前 : {{ teacher.user_id.first_name }}</li>
        <li>名字: {{ teacher.user_id.last_name }}</li>
        <li>都市: {{ teacher.user_id.city }}</li>
        <li>ひとこと: {{ teachrt.user_id.introduction }}</li>
        {% if teacher.user_id.image %}
        <li>画像： <img src="{{teacher.user_id.image.url}}" alt=""></li>
        {% else %}
        <li>画像なし</li>
        {% endif %}

        <li>料金目安($/h): {{ teacher.fee }}</li>
        <li>メッセージ: {{ teacher.message }}</li>

        <li>学歴: {{ teacher.academic }}</li>
        <li>経験: {{ teacher.experience }}</li>
        <li>資格: {{ teacher.certificate }}</li>
        <li>生徒からの評価: {{ request.reputation }}</li>
        <li>一言: {{ teacher.oneword }}</li>
        <li>楽器: {{ teacher.teaching_inst.inst_name }}</li>
        <li>楽器経験年数: {{ teacher.year }}</li>
        <li>楽器レベル: {{ teacher.revel }}</li>
        {% for lang in teacher.lang.all %}
          <li>言語: {{ lang.language_name }}</li>
          {% endfor %}
        <!--<li>言語: {{ teacher.lang.language_name }}</li>-->
    </ul>

    {#ダイレクトメッセージフォーム#}
<form action="" method="POST">
    {% csrf_token %}
    {% if request.user.is_musician %}
    <select name='receiver'>
        <option value""">送信先の生徒を選んでください</option>
        {% for student in students %}

        <option value"{{ student.id }}">{{ student }}</option>
        {% endfor %}

        </select> 
        {% endif %}

    <textarea name="message" cols="30" rows="10"></textarea>
    <input type="submit" valus="送信">
        
</form>



    {# ここに自分が関わったメッセージが表示される。#}
  
    {% for message in messages %}
    <div>
        <div>送信元: {{ message.sender }}</div>
        <div>宛先: {{ message.receiver }}</div>
        <div>送信時刻: {{ message.created_at }}</div>
        <div>本文: {{ message.message }}</div>
    </div>
    {% endfor %}

    
    <h2>送信BOX</h2>

    {% for sender_message in sender_messages %}
    <div>
        <div>送信元: {{ sender_message.sender }}</div>
        <div>宛先: {{ sender_message.receiver }}</div>
        <div>送信時刻: {{ sender_message.created_at }}</div>
        <div>本文: {{ sender_message.message }}</div>
    </div>
    {% endfor %}
    
    <h2>受信BOX</h2>

    {% for receiver_message in reciver_messages %}
    <div>
        <div>送信元: {{ receiver_message.sender }}</div>
        <div>宛先: {{ receiver_message.receiver }}</div>
        <div>送信時刻: {{ receiver_message.created_at }}</div>
        <div>本文: {{ receiver_message.message }}</div>
    </div>
    {% endfor %}

 {# 編集フォーム #}  
    {# formタグのaction属性はフォームの送信先を指定  #}  
    <form action="{% url 'music:update-music' teacher.id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="編集">
    </form>

    {# 削除ボタン #}  
    <a href="{% url 'music:delete-music' teacher.id %}">削除する</a>　


  </body>
  </html>

