{% extends 'base.html' %}

{% block title %}アカウント作成{% endblock %}
{% block h1 %}アカウント作成{% endblock %}

{% block content %}
  <form method="post" class="p-4 m-4 bg-light border border-success rounded form-group" enctype='multipart/form-data'>
    {% csrf_token %}
    <input type="email" name="email" class="form-control mt-4" placeholder="email">
    <input type="password" name="password1" class="form-control mt-4" placeholder="パスワード">
    <input type="password" name="password2" class="form-control mt-4" placeholder="パスワード確認用">
    {% if form.errors %}
      <span class="mb-2 small text-danger d-block text-start">利用できないユーザー ID やパスワードの可能性があります。入力内容を再度ご確認ください。</span>
    {% endif %}
    <input type="first_name" name="first_name" class="form-control mt-4" placeholder="first_name">
    <input type="last_name" name="last_name" class="form-control mt-4" placeholder="last_name">
    <input type="city" name="city" class="form-control mt-4" placeholder="City">
    <input type="introduction" name="introduction" class="form-control mt-4" placeholder="Introduction">
    <input type="file" name="image" class="form-control mt-4" placeholder="image">
    <p></P>   
    <p><label for="id_is_musician">音楽家である:</label> <input type="checkbox" name="is_musician" id="id_is_musician"></p>
      <button type="submit" class="btn btn-success m-2">アカウント作成</button>
  </form>
{% endblock %}


